*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup
.kitchen.local.yml
Berksfile.lock

.bundle/
.cache/
.kitchen/
.vagrant/
.vagrant.d/
bin/
tmp/
vendor/
/metadata.json
/vagrant/chef_zero/data_bags/users/*.json
/vagrant/chef_zero/nodes/*.json
/vagrant/chef_zero/roles/*.json

# ChefSpec coverage reports
*.*.json
*.*.json.lock
